
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />


<div class="p-x-1 p-y-3">
  {{#if messages.error}}
   <legend class="m-b-1 text-xs-center">{{messages.error}}</legend>
   {{/if}}
  <form class="card card-block m-x-auto bg-faded form-width" method="POST" enctype="multipart/form-data" action="/user/edit/{{user._id}}">
    <legend class="m-b-1 text-xs-center">Редактирование</legend>
    <div class="form-group input-group">
      <span class="has-float-label">
        <input class="form-control" id="first" type="text" name="firstName" value="{{user.firstName}}" />
        <label for="first">Имя</label>
      </span>
      <span class="has-float-label">
        <input class="form-control" id="last" type="text" name="lastName"value="{{user.lastName}}" />
        <label for="last">Фамилия</label>
      </span>
    </div>
    <div class="form-group has-float-label">
      <input class="form-control" id="phone" name="phone" type="tel"/>
      <label for="password">Телефон:</label>
    </div>
    <div class="form-group has-float-label">
      Добавить фото:
      <input class="form-control" id="photo" name="photo" type="file"/>
    </div>



    <div class="text-xs-center">
      <button class="btn btn-block btn-primary" type="submit">Редактировать</button>
    </div>
  </form>
</div>
