{{>navbar}}


<div class="landing">

  <div class="landing-about ">
    <div class="landing-about-reference post-1  ">
      <span>Программа лояльности для всех наших студентов!</span>
    </div>
    <div class="landing-about-reference-info  post-2">
      <span>Приводи друзей учиться к нам и получай крутые подарки от Elbrus bootcamp!</span>
    </div>
    <div class="main-post-box container">

      <div class="landing-about-reference-info  post-3 post-box">
        <h3>ШАГ 1</h3>
        <span>Добавь друга в своем профиле - укажи любые его контакты и прикрепи, по желанию, фотку</span>
      </div>

      <div class="landing-about-reference-info  post-4 post-box">
        <h3>ШАГ 2</h3>
        <span>Подожди пока друг поступит и окончит обучение</span>
      </div>

      <div class="landing-about-reference-info  post-5 post-box">
        <h3>ШАГ 3</h3>
        <span>Получи свое вознаграждение за рекомендацию - деньги, либо airPods</span>
      </div>
    </div>

  </div>

  <div class="landing-chota-tam">

    <div class="landing-plus container">
      <div class="box first-grid">
        <span>Твои главне плюсы участвовать в программе:</span>
      </div>
      <div class="box second-grid">
        <span>Плюс первый - это круто!</span>
      </div>
      <div class="box third-grid">
        <span>Плюс второй - это круче, чем круто!</span>

      </div>
      <div class="box fourth-grid">
        <span></span>
      </div>
      <div class="box fifth-grid">
        <span>Тут можете сами придумать почему это так круто</span>
      </div>
      <div class="box sixth-grid">
        <span>И еще одно поле для заполнения!</span>
      </div>
    </div>

  </div>

  <div class="landing-tree">
    <div class="container"></div>
    <div class="tree-info">
      <p>Make Elbrus great &nbsp <strike>again</strike>!
       TOGETHER!
    </div>
    <div class="tree-img">
      <img src=" /style/img/tree-dots.png" alt="">
    </div>
  </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
