<div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light">{{>userProfile}}</div>
      <div class="p-3 border bg-light">
        <form method="POST">
          <span>Друг, которого хочешь порекомендовать: <p> </span>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Имя:</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Почта:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Телефон:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-primary">Порекомендовать!</button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
      <div class="p-3 border bg-light">Твой рекомендованный друг</div>
    </div>
    <div class="col-6">
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
