<div class="container">
  <div class="row row-cols-2">
    <div class="col">
      <img src="/uploads/{{user.photo}}" class="img-fluid" alt="...">
    </div>
    {{!-- {{#if user}} --}}
    <div class="col" name="user-name">
      Имя пользователя : {{user.name}}
    </div>
    <div class="col" name="user-phone">
      Phone: {{user.phone}}
    </div>
    <div class="col" name="user-mail">
      Email:{{user.email}}
    </div>
    {{!-- {{/if}} --}}
    <button class='header-button' type="submit">Редактировать</button>
  </div>
</div>
